.ft{
    margin-left: 180px;
}
.about{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px

}
.terms{
    width: 100%;
    max-width: 1024px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px

}